<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>NCURent</display-name>
  <welcome-file-list>
    <welcome-file>html/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>ncu.rent.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login/Login</url-pattern>
    <url-pattern>/Login/Register</url-pattern>
    <url-pattern>/Login/deleteUser</url-pattern>
    <url-pattern>/Login/getAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ActionServlet</servlet-name>
  	<servlet-class>ncu.rent.Servlet.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ActionServlet</servlet-name>
  	<url-pattern>/Post/AddPost</url-pattern>
    <url-pattern>/Post/addReserve</url-pattern>
    <url-pattern>/Post/getAllHouse</url-pattern>
    <url-pattern>/Post/GetHouseData</url-pattern>
    <url-pattern>/Post/checkHouse</url-pattern>
    <url-pattern>/Post/rejectHouse</url-pattern>
    <url-pattern>/Post/GetStudentReview</url-pattern>
    <url-pattern>/Post/AddStudentReview</url-pattern>
    <url-pattern>/Post/DeleteStudentReview</url-pattern>
    <url-pattern>/Post/AddHouseReview</url-pattern>
    <url-pattern>/Post/DeleteHouseReview</url-pattern>
    <url-pattern>/Post/getAllReserve</url-pattern>
    <url-pattern>/Post/updateReserve</url-pattern>
  </servlet-mapping>
</web-app>